body{
  background-image:url("images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

ul{
  list-style: none;
}
nav {
  width: 600px;
  margin: 0 auto;
}

nav ul{
  width: 100%;
  padding: 0;

}
nav li{
  color: white;
  text-align: center;
  font-size: 11px;
  line-height: 25px;
}

.nav-menu{
  display: inline-block;
  width: 24.3%;
  height: 25px;
  background-color:#e14329;
  text-align: center;
}

.container{
  width: 600px;
  height: 200px;
  margin: 0 auto;
  border: 5px solid white;
  overflow:hidden;
  position: relative;

}


#logo img {
  width: 40%;
  position: absolute;
  top: 30px;
}

#camera img{
  width: 125%;
  position: absolute;
  top: -50px;
}
.top-image{


}
